<div class="Contenedor">
    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/deportivas.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Deportivas</h5>
          <p class="card-text">¡Descubre la última tendencia en moda deportiva!</p>
          <a href="#" class="btn btn-primary">¡Compra ya!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/casual.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Casual</h5>
          <p class="card-text">¡Descubre la última tendencia en moda Casual!</p>
          <a href="#" class="btn btn-primary">¡Compra ya!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/streetwear.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">streetwear</h5>
          <p class="card-text">¡Descubre la última tendencia en moda Strreetwear!</p>
          <a href="#" class="btn btn-primary">¡Compra ya!</a>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <img src="../../../../assets/img/zapatos.webp" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Zapatos</h5>
          <p class="card-text">¡Descubre la última tendencia en Zapatos!</p>
          <a href="#" class="btn btn-primary">¡Compra ya!</a>
        </div>
    </div>
</div>