<div class="imagen">
    <img src="../../../assets/img/recepcionista.jpg" class="recepcionista">
    <div class="conocenos">
        <h1 class="letraconocenos">Conocenos</h1>
    </div>
</div>

<div class="formularioymapa">
    <div class="formulario">
        <div class="nombre">
            <h6 class="letras">Nombre:</h6>
            <input type="text" name="Nombre:" id="" class="cajatexto">
        </div>

        <div class="apellidos">
            <h6 class="letras">Apellidos:</h6>
            <input type="text" name="Nombre:" id="" class="cajatexto">
        </div>

        <div class="correo">
            <h6 class="letras">Correo:</h6>
            <input type="text" name="Nombre:" id="" class="cajatexto">
        </div>

        <div class="telefono">
            <h6 class="letras">Telefono:</h6>
            <input type="text" name="Nombre:" id="" class="cajatexto">
        </div>

        <div class="mensaje">
            <h6 class="letras">Mensaje:</h6>
            <input type="text" name="Nombre:" id="" class="cajatexto">
        </div>

        <div class="boton">
            <button class="cajatextoboton">Enviar</button>
        </div>
    </div>
    <div class="mapa">
        <img src="../../../assets/img/mapa.jpg" class="mapita">
    </div>
</div>

<div class="foter">
    <div class="barrariba">
    </div>
    <div class="columnas">
        <div class="colum1">
            <div class="trabaja"><h6><b>ACERCA NUESTRA</b></h6></div>
            <div class="trabaja">Trabaja con nosotros</div>
            <div class="trabaja">Sobre Nosotros</div>
            <div class="trabaja">Sostenibilidad</div>
            <div class="trabaja">Zapas Science</div>
        </div>

        <div class="colum2">
            <div class="trabaja"><h6><b>GANA DINERO</b></h6></div>
            <div class="trabaja">Vende con nosotros</div>
            <div class="trabaja">Desarrolla con Nosotros</div>
            <div class="trabaja">Nuestra Logística</div>
            <div class="trabaja">Zapas Pay</div>
            <div class="trabaja">Vende para Nosotros</div>
            <div class="trabaja">TEXTO DE PRUEBA</div>
        </div>

        <div class="colum3">
            <div class="trabaja"><h6><b>¿NECESITAS AYUDA?</b></h6></div>
            <div class="trabaja">Zapas y COVID-19</div>
            <div class="trabaja">Localiza o Gestiona</div>
            <div class="trabaja">Zapas Prime</div>
            <div class="trabaja">Reciclaje</div>
            <div class="trabaja">App Zapas</div>
            <div class="trabaja">Atención al Cliente</div>
            <div class="trabaja">IVA sobre las zapas</div>
            <div class="trabaja">Tarjetas Regalo</div>
        </div>
    </div>
</div>
